<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Accentus {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	

  </head>
  <body style="background: #2A2C2E;">
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark  p-3 navbar-fixed-top" style="background: #05386B">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <!-- <img src="{{url_for('static', filename='accentus3.png')}}" width="30" height="30" class="rounded-pill"> -->
                <b>Accentus</b>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto " id="navigation">
                  <li class="nav-item">
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/"><b>Detect Intensity</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/about"><b>About</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/forum"><b>Forum</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/login"><b>Login/Register</b></a>
                  </li>
                  <li class="dropdown">
                    <a class="nav-link mx-2 dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <b>Account</b>
                    </a>
                    <ul style="background: #05386B"  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><b><a class="dropdown-item text-white" href="/profile">Profile</a></b></li>
                      <li><b><a class="dropdown-item text-white" href="/logout">Log out</a></b></li>
                    </ul>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
                  <li class="nav-item mx-2">
                  </li>
                  <li class="nav-item mx-2">
                  </li>
                  <li class="nav-item mx-2">
                  </li>
                  <li class="nav-item mx-2">
                  </li>
                  <li class="nav-item mx-2">
                </li>
                <li class="nav-item mx-2">
                </li>
                <li class="nav-item mx-2">
                </li>
                </ul>
              </div>
            </div>
          </nav>
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{category}}" id="success-alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>{{message}}</strong>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>