{% extends "base.html" %}

{% block content %}
<!-- <div class="mb-1 mt-1 ml-3 dropdown bootstrap-select form-control form-control-lg bg-op-9 text-sm w-lg-50 text-white" style="width: 100%; background: #05386B"></div> -->
<!-- <h1 class="mb-1 mt-1 ml-3 dropdown bootstrap-select form-control form-control-lg  text-sm text-center" style="background: #05386B; color: #ffffff" >{{intensity}}</h1> -->
<!-- </div> -->
<link rel="stylesheet" href="{{ url_for('static', filename='test_forum.css')}}"/>
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="container">
      <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3 mt-3">
          <div class="row text-left mb-5">
            <div class="col-lg-6 mb-3 mb-sm-0">
              <div class="mb-1 mt-1 dropdown bootstrap-select form-control form-control-lg bg-op-9 text-sm w-lg-50 text-white" style="width: 100%; background: #05386B">
                <p><b>{{intensity}} Forum</b></p>
              </div>
            </div>
            <!-- <div class="col-lg-6 text-lg-right">
              <div class="dropdown bootstrap-select form-control form-control-lg bg-op-9 ml-auto text-sm w-lg-50 text-white" style="width: 100%; background: #05386B;">
                  <p>Utilize this fourm to talk with others in a similar situation! </p>
              </div>
            </div> -->
          </div>
          <!-- End of post 1 -->
          {% if posts != None %}
            {% for post in posts %}
                <div style= "background: #05386B;" class="mt-3 dropdown bootstrap-select form-control form-control-lg bg-op-9 text-sm w-lg-50 text-white">
                  <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                      <h5>
                        <a  href="/forum/{{intensity}}/{{post['post_id']}}" class="text-white" style="color: #05386B">{{post['title']}}</a>
                      </h5>
                      <p class="text-sm"><span class="op-6">Original Poster: {{post['user_id']}}</span> </p>
                    </div>
                    <div class="col-md-4 op-7">
                    </div>
                  </div>
                </div>
              {% endfor %}
          {% endif %}
        </div>
        <!-- Sidebar content -->
        <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
        
            <div class="col-lg-6 text-lg-right">
                <a class="mt-5 mb-3 dropdown bootstrap-select form-control form-control-lg bg-op-9 ml-auto text-sm w-lg-50 text-white" style="background: #05386B;" href="/forum/{{intensity}}/{{user_id}}/publish">Post Forum</a>
          
            <div style="background: #05386B;" class="dropdown bootstrap-select form-control form-control-lg bg-op-9 text-sm w-lg-50 text-white">
              <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
                Stats
              </h4>
              <hr class="my-0">
              <div class="row text-center d-flex flex-row op-7 mx-0">
                <!-- <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <a class="d-block lead font-weight-bold" href="#">58</a> Topics </div> -->
                <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0"> <a class="d-block lead font-weight-bold" href="#">{{stats["post_count"]}}</a> Posts </div>
              </div>
              <div class="row d-flex flex-row op-7">
                <div class="col-sm-6 flex-ew text-center py-3 border-right mx-0"> <a class="d-block lead font-weight-bold" href="#">{{stats["member_count"]}}</a> Members </div>
              </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>
{% endblock %}